:root {
    --primary-color: #ec1f55;
    --text-color: #333;
}

.form {
    position: absolute;
    margin: 0;
    width: 450px;
    min-height: 100px;
    padding: 20px 24px;
    text-align: center;
    background: #fff;
    border-radius: 12px;
    align-self: center;
    z-index: 1000000000000;
    border: 2px solid black;
    box-shadow: 4px 4px 0px 0px var(--primary-color);
    display: none;
}

.form.show {
    display: block;
}

.form .heading {
    font-size: 2rem;
    color: var(--primary-color);
}

.form .desc {
    text-align: center;
    color: #636d77;
    font-size: 1.6rem;
    font-weight: lighter;
    line-height: 2.4rem;
    margin-top: 16px;
    font-weight: 300;
}

.form-group {
    display: flex;
    margin-bottom: 16px;
    flex-direction: column;
}

.form-label,
.form-message {
    text-align: left;
}

.form-label {
    font-weight: 700;
    padding-bottom: 6px;
    line-height: 1.8rem;
    font-size: 1.4rem;
    color: var(--primary-color);
}

.form-control {
    height: 40px;
    padding: 8px 12px;
    border: 3px solid black;
    box-shadow: 4px 4px 0px 0px var(--primary-color);
    border-radius: 3px;
    outline: none;
    font-size: 1.4rem;
}

.form-group.invalid .form-control {
    border-color: #f33a58;
}

.form-group.invalid .form-message {
    color: #f33a58;
}

.form-message {
    font-size: 1.2rem;
    line-height: 1.6rem;
    padding: 4px 0 0;
}


.spacer {
    margin-top: 25px;
}

.save-btn {
    cursor: pointer;
    font-size: 16px;
    border-radius: 12px;
    padding: 10px;
    font-weight: bold;
    box-shadow: 4px 4px 0px 0px var(--primary-color);
    border: 3px solid black;
}

.incoming {
    position: absolute;
    top: 40%;
    width: 600px;
    height: 50px;
    background-color: white;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    border: 3px solid black;
    box-shadow: 4px 4px 0 0 var(--primary-color);
    display: none;
}
.incoming.show{
    display: block;
}
.incoming h2.typing {
  width: 46ch;             
  overflow: hidden;
  white-space: nowrap;
  animation: typing 4s steps(46), blink 0.7s step-end infinite alternate;
  background: linear-gradient(to right, var(--primary-color), blue);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes typing {
  from { width: 0; }
}

@keyframes blink {
  50% { border-color: transparent; }
}